In [1]:
from TradingLog.file_parser import Parse
from TradingLog.data import DataEngine
from TradingLog.plot import Plotting
from helpers import half_hour_rounder

In [2]:
ofx = '/Users/david/Downloads/U3913547_20210101_20211008.ofx'
tlg = '/Users/david/Downloads/test.tlg'

parse = Parse()
data = DataEngine()
plot = Plotting()

parse.parse_input(ofx)

p = Parse()
d = DataEngine()


p.parse_input(ofx)

In [3]:
data.multiple_securities_from_yahoo(parse.optxs)
d.multiple_securities_from_yahoo(p.optxs)

In [4]:
import pandas as pd

#parse.optxs['d2'] = parse.optxs['date_time'].apply(lambda x: half_hour_rounder(x))

df = pd.merge(parse.optxs,data.ohlc,on=['date_time','symbol'], how='left').drop_duplicates()
#p.optxs
#ohlc[ohlc['symbol'] == 'BBD']

In [5]:
plot.graph(ohlc=data.ohlc,txs=df,ticker='X')

KeyError: 'total_price'

In [6]:
df

,tx_type,date_time,uniqueid,income_type,units,unit_price,commission,fees,total,tferaction,...,opt_description,exchange,opt_type,close,open,volume,high,low,dividends,splits
0,buyopt,2021-08-09 17:30:00,421712139,,25.0,0.2,31.25,0,-531.25,None,...,230120C00003000 BBD.B 20JAN23 3.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,buyopt,2021-08-09 18:30:00,421712139,,15.0,0.2,18.75,0,-318.75,None,...,230120C00003000 BBD.B 20JAN23 3.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,buyopt,2021-06-01 17:30:00,474832639,,3.0,5.4,1.2234,0,-1621.2234,None,...,211015C00041000 AA 15OCT21 41.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,buyopt,2021-06-01 17:30:00,492234542,,3.0,7.05,1.2234,0,-2116.2234,None,...,220121C00041000 AA 21JAN22 41.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,buyopt,2021-04-20 16:00:00,438063362,,1.0,5.82,1.4528,0,-583.4528,None,...,220121C00160000 AAPL 21JAN22 160.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,sellopt,2021-04-20 16:00:00,472575964,,-4.0,0.29,2.941764,0,113.058236,None,...,210521C00053000 XLE 21MAY21 53.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,sellopt,2021-03-09 17:00:00,461776424,,-3.0,1.97,1.320461,0,589.679539,None,...,210319C00060000 XOM 19MAR21 60.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,sellopt,2021-03-09 17:30:00,426940700,,-4.0,4.8,1.265632,0,1918.734368,None,...,210618C00060000 XOM 18JUN21 60.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,sellopt,2021-03-01 20:00:00,438775605,,-1.0,36.13,0.765647,0,3612.234353,None,...,210319C00400000 ZM 19MAR21 400.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,sellopt,2021-01-15 15:00:00,442954029,,-1.0,26.17,0.743636,0,2616.256364,None,...,210319C00460000 ZM 19MAR21 460.0 C,None,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN